.function{
    .px2rem(@px){
        return : unit(@px*320/@designWidth/20 , rem);
    }
}
@designWidth: 750;

#home{
    font-size: 0;

    &>.ant-layout-header{
        height: auto;
        line-height: 4;
        padding-right: 15px;
        padding-left: 15px;

        &>div{
            float: left;

            .ant-btn{
                height: auto;
                font-size: px2rem(14);
                color: #ffffff;
                background: transparent;
                border: none;
                outline: none;
                padding-left: 0;
                padding-right: 0;

                .menu{
                    &:after{
                        content: '菜单';
                        vertical-align: middle;
                        margin-left: 6px;
                    }
                }
            }
            .ant-divider{
                height: px2rem(14);
                min-height: 12px;
                top: -0.125em;
            }
            span{
                font-size: px2rem(14);
                color: #ffffff;
                vertical-align: -0.125em;
            }
        }
        &>div+div{
            float: right;
        }
    }
    &>.ant-layout>.ant-layout-content{

        .ant-menu{
            &>li:after{
                content: '动态';
                vertical-align: -0.18em;
            }
        }
        #article{
            display: flex;
            
            #article_column{
                flex-basis: 80%;
                flex-grow: 1;

                .ant-card{
                    width: 100%;

                    h5{
                        font-size: px2rem(16);
                        margin-bottom: 0.4rem;
                    }
                }
            }
            #recommend_column{
                flex-basis: 20%;
                @media screen and (max-width: 1000px){
                    display: none;
                }
            }
        }
    }
}