.function{
    .px2rem(@px){
        return : unit(@px*320/@designWidth/20 , rem);
    }
}
@designWidth: 750px;

.home {
    .ant-layout-header {
        display: flex;
        height: auto;
        justify-content: space-between;
        z-index: 1001;
        padding-left: px2rem(50);
        padding-right: px2rem(50);

        .right_nav{
            display: flex;
            align-items: center;
            line-height: 2.5;
        }
        .left_nav{
            display: flex;
            align-items: center;
            line-height: 2.5;
        }
        .ant-btn{
            border: none;
            background-color: transparent;
            font-size: 30%;
            color: #ffffff;
            padding-right: 0;
            padding-left: 0;
        }
        .ant-divider{
            height: px2rem(10);
            background-color: dimgray;
        }
        span{
            color: #ffffff;
            padding-right: 0;
            padding-left: 0;
            font-size: 30%;
        }
    }
    .ant-layout-content{
        .blog_column{
            display: flex;
            flex-wrap: wrap;
            margin-left: -15px;
            margin-right: -15px;

            .ant-card{
                margin: 15px;
                flex-shrink: 0;
                flex-grow: 0;
                width: 284px;
                height: 148px;
            }
        }
    }
}
.ant-modal{
    font-size: 100% !important;
    width: 400px !important;
    
    .ant-modal-close{
        right: px2rem(-30);
        width: auto;

        span{
            line-height: 1.0;
            font-size: 30%;
            color: #ffffff;
        }
        .ant-modal-close-x{
            width: auto;
        }
    }
    .ant-modal-body{
        padding-right: 50px;
        padding-left: 50px;

        .ant-form{
            .ant-form-item{
                margin-bottom: 15px;

                &:first-child{
                    font-size: 150%;
                    text-align: center;
                    margin-bottom: 45px;
                }
                .login-form-forgot{
                    float: right;
                }
            }
        }
    }
}
.ant-drawer{
    .ant-drawer-content{
        box-sizing: border-box;
        padding-top: 85px;
    }
}